/*This is the main stylesheet for my website*/
body {
    background-color: rgb(201, 236, 249);
    font-family: "calibri";
    font-size: 20px;
}

.header {
    text-align: center;
}

.paragraph {
    text-align: center;
}

.button {
    background-color: #0051ca;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin: 10px;
}

#footer {
    background-color: #0051ca;
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 20px;
}

#home {
    background-color: #0051ca;
    font-size: 20px;
    padding: 20px;
    color: white;
}

#animal_population_wrapper {
    display: flex;
    gap: 20px;
}

#animal, #population {
   flex: 1;
}

.flex_container {
    display: flex;
}

.box {
    background-color: #0051ca;
    padding: 20px;
    margin: 10px;
    color: white;
}