/*This is the main stylesheet for my website*/
body {
    background-color: rgb(201, 236, 249);
    font-family: "calibri";
    font-size: 20px;
}

.header {
    text-align: center;
}

.paragraph {
    text-align: center;
}
