/*This is the main stylesheet for my website*/
/*Styling the whole page*/
body {
    background-color: rgb(201, 236, 249);
    font-family: "calibri";
    font-size: 20px;
}

/*Changing the color of all links on the page*/
a:visited {color: rgb(221, 238, 255);}
a:active {color: white;}

.link:visited {color: #0043A8;}

/*Styling the header, paragraph, and button classes*/
.header {
    text-align: center;
}

.paragraph {
    text-align: center;
}

.button {
    background-color: #0043A8;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin: 10px;
}

/*Styling the footer and home ID's*/
#footer {
    background-color: #0043A8;
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 20px;
}

#home {
    background-color: #0043A8;
    font-size: 20px;
    padding: 20px;
    color: white;
}

/*Styled the wrapped animal and population sections to be side by side
with the use of flex boxes*/
#animal_population_wrapper {
    display: flex;
    gap: 20px;
}

#animal, #population {
   flex: 1;
}

/*Styled the flex container and box classes for the favorite animal 
and hunting section.*/
.flex_container {
    display: flex;
}

.box {
    background-color: #0043A8;
    padding: 20px;
    margin: 10px;
    color: white;
}